# Virtual environments
nws/
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# HuggingFace cache (optional but nice)
.cache/

# OS files
.DS_Store
Thumbs.db

# Model checkpoints (we will add later)
checkpoints/
*.pt
*.bin

# Large data
data/*.json
data/*.csv